.icon__circle {
  padding: 10px;
  border: 1px solid $grey;
  border-radius: 50%;
  line-height: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: white;
  position: relative;
  z-index: 2;

  img {
    opacity: .5;
  }
}
