.timeline {
  margin: 30px 0;
}

.timeline__intro {
  height: 280px;
  margin-top: -280px;
  margin-bottom: 60px;
  position: relative;

  &:after {
    content: '';
    top: 0;
    height: 30px;
    width: 30px;
    left: 10px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255, 0) 100%);
    z-index: 3;
  }
}

.timeline__item {
  padding: 0 0 50px;
  position: relative;
  clear: both;
  padding-bottom: 70px;
}

.timeline__border {
  position: absolute;
  left: 19px;
  top: 0;
  bottom: 0;
  border-left: 1px solid $grey;
}

.timeline__icon {
  float: left;
}

.timeline__item__content {
  padding: 0 20px 0 80px;
  text-align: left;
}

.timeline__item__date {
  font-size: 12px;
  margin: 0 0 3px;
}

.timeline__item__h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0;
}

.timeline__item__p {
  color: $dark-grey;
  margin: 5px 0 0;
  font-size: 15px;
  max-width: 400px;
}

.timeline__item__location {
  margin-top: 10px;
  font-size: 13px;
  color: $dark-grey;
}

@media (max-width: 750px) {
  .timeline {
    margin-top: 0;
  }

  .timeline__intro {
    display: none;
  }

  .timeline__item {
    padding: 0 0 40px;
  }

  .timeline__item__h2 {
    font-size: 18px;
  }

  .timeline__item__content {
    padding-left: 60px;
  }
}
